name: Stocker un fichier dans un bucket Google Cloud Storage

on:
  push:
    branches:
      - main

jobs:
  store-file:
    runs-on: ubuntu-latest
    steps:
      - uses: 'actions/checkout@v2'

      - uses: 'google-github-actions/setup-gcloud@v1'
        with:
          project-id: ${{ secrets.GCP_PROJECT_ID }}
          service-account-key-file: ${{ secrets.GCP_SA_KEY_FILE }}

      - name: Stocker le fichier
        run: |
          gsutil cp .github/workflows/test.txt gs://github-actions-123

