name: Stocker un fichier dans un bucket Google Cloud Storage

on:
  push:
    branches:
      - main

jobs:
  store-file:
    runs-on: ubuntu-latest
    steps:
      - uses: 'actions/checkout@v2'

      - name: check 
        run: |
          echo "Hello"
          echo $GCP_PROJECT_ID 
          echo GCP_SA_KEY_FILE
          
      - uses: 'google-github-actions/setup-gcloud@v1'
        with:
          project-id: $GCP_PROJECT_ID 
          service-account-key-file: $GCP_SA_KEY_FILE

      - name: Stocker le fichier
        run: |
          gsutil cp .github/workflows/test.txt gs://github-actions-123
